{% extends 'base.html' %}
{% block content %}

<form action="/areas/{{area.id}}" method="POST">

    <div>
        <label for="easting">Easting:</label>
        <select id="easting" name="easting">
            <option value="00"
            {% if area.easting == "00" %} selected {% endif %}>
            00
            </option>
            <option value="01"
            {% if area.easting == "01" %} selected {% endif %}>
            01
            </option>
            <option value="02"
            {% if area.easting == "02" %} selected {% endif %}>
            02
            </option>
            <option value="03"
            {% if area.easting == "03" %} selected {% endif %}>
            03
            </option>
        </select>
    </div>
    <div>
        <label for="northing">Northing:</label>
        <select id="northing" name="northing">
            <option value="00"
            {% if area.northing == "00" %} selected {% endif %}>
            00
            </option>
            <option value="01"
            {% if area.northing == "01" %} selected {% endif %}>
            01
            </option>
            <option value="02"
            {% if area.northing == "02" %} selected {% endif %}>
            02
            </option>
            <option value="03"
            {% if area.northing == "03" %} selected {% endif %}>
            03
            </option>
        </select>
    </div>
   
    <button type="submit">Update Area</button>

</form>
    
{% endblock content %}