{% extends 'base.html' %}
{% block content %}

<form action="/areas" method="post">

    <div>
        <label for="easting">Area Easting:</label>
        <select id="easting" name="easting" required>
            <option value="00">00</option>
            <option value="01">01</option>
            <option value="02">02</option>
        </select>
    </div>
    <div>
        <label for="northing">Area Northing:</label>
        <select id="northing" name="northing" required>
            <option value="00">00</option>
            <option value="01">01</option>
            <option value="02">02</option>
        </select>
    </div>

    <button type="submit">Add Location</button>
  
</form>
    
{% endblock content %}