{% extends 'base.html' %}
{% block content %}

<h2>Trees</h2>
<div>
    <a href="/trees/new">
        <span class="material-icons">
            add
        </span>
    </a>
    <p>Click on a tree to access its information</p>
</div>

<div id="map-container">
    <div class="map">
        <div class="grid-square">
            {% for tree in trees %}
                {% if tree.area == "0002" %}
                    <span class="material-icons map-tree"  style="position: relative; top: -{{tree.y * 20}}px; left: {{tree.x * 20}}px;">
                        <a href="trees/{{tree.id}}">park</a>
                    </span>
                {% endif %}
            {% endfor %}
        </div>

        <div class="grid-square">
            {% for tree in trees %}
                {% if tree.area == "0102" %}
                    <span class="material-icons map-tree"  style="position: relative; top: -{{tree.y * 20}}px; left: {{tree.x * 20}}px;">
                        <a href="trees/{{tree.id}}">park</a>
                    </span>
                {% endif %}
            {% endfor %}
        </div>

        <div class="grid-square">
            {% for tree in trees %}
                {% if tree.area == "0202" %}
                    <span class="material-icons map-tree" style="position: relative; top: -{{tree.y * 20}}px; left: {{tree.x * 20}}px;">
                        <a href="trees/{{tree.id}}">park</a>
                    </span>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="grid-square">
            {% for tree in trees %}
                {% if tree.area == "0001" %}
                    <span class="material-icons map-tree" style="position: relative; top: -{{tree.y * 20}}px; left: {{tree.x * 20}}px;">
                        <a href="trees/{{tree.id}}">park</a>
                    </span>
                {% endif %}
            {% endfor %}
        </div>

        <div class="grid-square">
            {% for tree in trees %}
                {% if tree.area == "0101" %}
                    <span class="material-icons map-tree" style="position: relative; top: -{{tree.y * 20}}px; left: {{tree.x * 20}}px;">
                        <a href="trees/{{tree.id}}">park</a>
                    </span>
                {% endif %}
            {% endfor %}
        </div>
        
        <div class="grid-square">
            {% for tree in trees %}
                {% if tree.area == "0201" %}
                    <span class="material-icons map-tree" style="position: relative; top: -{{tree.y * 20}}px; left: {{tree.x * 20}}px;">
                        <a href="trees/{{tree.id}}">park</a>
                    </span>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="grid-square">
            {% for tree in trees %}
                {% if tree.area == "0000" %}
                    <span class="material-icons map-tree" style="position: relative; top: -{{tree.y * 20}}px; left: {{tree.x * 20}}px;">
                        <a href="trees/{{tree.id}}">park</a>
                    </span>
                {% endif %}
            {% endfor %}
        </div>

        <div class="grid-square">
            {% for tree in trees %}
                {% if tree.area == "0100" %}
                    <span class="material-icons map-tree" style="position: relative; top: -{{tree.y * 20}}px; left: {{tree.x * 20}}px;">
                        <a href="trees/{{tree.id}}">park</a>
                    </span>
                {% endif %}
            {% endfor %}
        </div>

        <div class="grid-square">
            {% for tree in trees %}
                {% if tree.area == "0200" %}
                    <span class="material-icons map-tree" style="position: relative; top: -{{tree.y * 20}}px; left: {{tree.x * 20}}px;">
                        <a href="trees/{{tree.id}}">park</a>
                    </span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock content %}