{% extends 'base.html' %}
{% block content %}

<h2>Trees</h2>
<a href="/trees/new">
    <span class="material-icons">
        add
    </span>
</a>

<div id="trees-container">
    <ul>
        {% for tree in trees %}
        <li><a href="trees/{{tree.id}}">Tree {{tree.id}}</a></li>
        <li>Variety: {{tree.variety}}</li>
        <li>Approximately {{tree.approx_age}} years old</li>
        <li>Grid reference location: {{tree.get_location()}}</li>

        <li><form action="/trees/{{tree.id}}/delete" method="POST"><button>Delete</button></form></li>
        {% endfor %}
    </ul>
</div>
    
{% endblock content %}