{% extends 'base.html' %}
{% block content %}

<div>
    <h2>Tree {{tree.id}}</h2>
    <p>Species: {{tree.variety.name}}</p>
    <p>Approximately {{tree.approx_age}} years old</p>
    <p>Location: {{tree.area.get_grid_reference()[:2]}}{{tree.x}}{{tree.area.get_grid_reference()[2:4]}}{{tree.y}}</p>
    <p>Notes: {{tree.notes}}</p>

    <a href="/trees/{{tree.id}}/edit">Edit Tree</a>
    <form action="/trees/{{tree.id}}/delete" method="POST">
        <button>
            <span class="material-icons">
                delete
            </span>
        </button>
    </form>
</div>
    
{% endblock content %}