html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: mintcream;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black
}

input, select {
    font-size: 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
  }

.logo {
    float: left;
    position: relative;
    top: -15px;  
}

#nature-icon {
    position:relative;
    top:8px;
    left:4px;
}

.menu {
    text-align: center;
    padding-top: 15px;
    display:flex;
    justify-content: space-around; 
}

nav {
    height: 50px;
    padding: 0px 10px 0px 10px;
    position: relative;
    top: -15px;
}

.menu > nav > ul > li {
    list-style: none;
    display: inline;
}

#my-forest-link {
    float: right;
    position: relative;
    top: -17px;
}

#index {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
}

#home-container {
    padding-top: 100px;  
}

#welcome {
    padding-top: 50px; 
    text-align: center;
}

.material-icons {
    font-size: 24px;
}

#footer-menu {
    background-color:seagreen;
    flex-shrink: 0;
    height:40px;
    position: relative;
    top: 17px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-around;
}

#footer-menu > li > a {
    color:mintcream;
}

#trees-container > ul > li {
    border: 1px solid black;
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    float: left;
}

#varieties-container > ul > li {
    border: 1px solid black;
    width: 15%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    float: left;
}

#areas-container > ul > li {
    border: 1px solid black;
    width: 15%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    float: left;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: none;
    background-color: mintcream;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#about-content {
    padding: 0px 100px 0px 100px;
}

#highlight {
    font-weight: bold;
}