{% extends 'base.html' %}
{% block content %}

<div id="about-content">
    <p id="highlight">Forestly makes managing and growing your forest easy.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in blandit arcu, ut tincidunt velit. Sed mattis, est quis sagittis iaculis, magna arcu commodo enim, sit amet rutrum lorem enim non eros. Integer gravida id sapien sed porttitor. Phasellus tincidunt malesuada magna, non pellentesque nunc varius vel. Sed vel interdum felis, at laoreet ipsum. Duis eu scelerisque diam, eget tincidunt tellus. Ut eget porta ipsum. Nunc gravida, risus id pulvinar elementum, diam neque dignissim turpis, pharetra hendrerit massa neque id nunc.</p>

    <p>Ut sit amet porttitor metus. Quisque et sagittis lacus. Aenean et rhoncus lectus, nec egestas magna. Vestibulum ornare vel justo ut vehicula. Etiam commodo ipsum non ipsum luctus, eu faucibus ante placerat. Nullam sapien purus, dignissim a eros nec, auctor ultrices lectus. Ut mollis ullamcorper tempus. Praesent sit amet dolor ornare, placerat sapien id, ultrices mi. Suspendisse feugiat ornare sapien, quis vulputate lacus egestas sit amet. Donec malesuada lobortis libero non cursus. Nulla facilisi. Vivamus tempus sed nibh vitae egestas. Cras vel congue lectus, quis maximus dui. Curabitur sapien enim, fringilla ac feugiat a, elementum et tortor.</p>
        
    <p>Nulla varius viverra tellus quis cursus. Aliquam arcu leo, imperdiet vitae nisl sit amet, placerat vestibulum nisi. Maecenas efficitur tincidunt mi eget volutpat. Phasellus faucibus, justo sit amet blandit faucibus, justo lorem bibendum nulla, sed finibus odio odio a ligula. Fusce euismod dictum metus nec imperdiet. Maecenas quis eleifend ex, id lacinia mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras eget ultrices massa. Fusce blandit augue eu sem porta, ac venenatis sapien viverra. Aliquam vel ante risus. In dignissim nunc id laoreet rutrum. Sed sed lectus turpis.</p>
</div>

    
{% endblock content %}