<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet"> 
    <title>Forestly</title>
</head>
<body>
    <header>
        <nav>
            <div id="logo-container">
                <h1 class="logo"><a href="/">Forestly</a></h1>
                <span class="material-icons logo" id="nature-icon">
                    <a href="/">emoji_nature</a>
                </span>
            </div>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/forest">Your Forest</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">

        {% block content %}
        {% endblock content %}

    </div>

    <footer>
        <ul class="menu" id="footer-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/forest">My Forest</a></li>
        </ul>
    </footer>
    
</body>
</html>