{% extends 'base.html' %}

{% block content %}
<div id="forest-container">
    <div class="forest-options">
        <span class="material-icons forest-icons">
            <a href="/trees">park</a>
        </span>
        <h3><a href="/trees">Manage Trees</a></h3>
    </div>

    <div class="forest-options">
        <span class="material-icons forest-icons">
            <a href="/varieties">account_tree</a>
        </span>
        <h3><a href="/varieties">Manage Tree Species</a></h3>
    </div>

    <div class="forest-options">
        <span class="material-icons forest-icons">
            <a href="/areas">location_on</a>
        </span>
        <h3><a href="/areas">Manage Locations</a></h3>
    </div>
</div>
{% endblock content %}