{% extends 'base.html' %}

{% block content %}

<div class="forest-options">
    <span class="material-icons">
        park
    </span>
    <h3><a href="#">Manage Trees</a></h3>
</div>

<div class="forest-options">
    <span class="material-icons">
        account_tree
    </span>
    <h3><a href="#">Manage Species</a></h3>
</div>

<div class="forest-options">
    <span class="material-icons">
        location_on
    </span>
    <h3><a href="/areas">Manage Locations</a></h3>
</div>
    
{% endblock content %}